<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/batalla.css" />
  <title>Batalla</title>
  <script>
    let equipo1 = <%- JSON.stringify(equipo1.listaPokemon) %>;
    let equipo2 = <%- JSON.stringify(equipo2.listaPokemon) %>;
    let usuario1 = "<%= equipo1.nombreUsuario %>";
    let usuario2 = "<%= equipo2.nombreUsuario %>";
    let nombreEquipo1 = "<%= equipo1.nombreEquipo %>";
    let nombreEquipo2 = "<%= equipo2.nombreEquipo %>";
  </script>
</head>

<body> <img id="imagenFondo" src="/img/fondoBatalla1.jpg" class="backgroundImage">
  <main>
    Escenario:
    <select id="seleccionFondo" onchange="cambiarFondo()">
        <option value="/img/fondoBatalla1.jpg">Dojo</option>
        <option value="/img/fondoBatalla2.jpg">Parque</option>
        <option value="/img/fondoBatalla3.jpg">Ciudad</option>
    </select>
    <input type=""button" value="Volver a página principal" onclick="salir()"></input>
    <div class="contenedor-batalla">
      <div class="pokemonBatalla">
        <div class="nombreEquipo">
          <%= equipo1.nombreEquipo %>
        </div>
        <img class="imagen-pokemon" id="imagen-pokemon1" />
        <p id="nombre-pokemon1"  class="nombrePokemon"></p>
        <progress id="vida-pokemon1" class="puntosVida"></progress>
        <label for="vida-pokemon1" id="label-hp1" class="vidaPokemon"></label>
        <div id="ataques-1" class="botones-conjunto activo"></div>
      </div>
      <div class="pokemonBatalla">
        <div class="nombreEquipo">
          <%= equipo2.nombreEquipo %>
        </div>
        <img class="imagen-pokemon" id="imagen-pokemon2" />
        <p id="nombre-pokemon2" class="nombrePokemon"></p>
        <progress id="vida-pokemon2" class="puntosVida"></progress>
        <label for="vida-pokemon2" id="label-hp2" class="vidaPokemon"></label>
        <div id="ataques-2" class="botones-conjunto inactivo"></div>
      </div>
    </div>
  </main>
</body>
<script src="/js/batalla.js"></script>

</html>