<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/historial_Pokemon.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>Historial de tus Pokémon</title>
</head>

<body>
    <div class="header"> <!--HEADER-->
        <img class="fotoPerfil" id="foto_perfil">
        </a>
        <div class="menu">
            <a href="/">
                <h6 class="paginaPrincipal">Página Principal</h6>
            </a>
            <a href="/LandingPageEquipo">
                <h6 class="sobreNosotros">Sobre Nosotros</h6>
            </a>
            <a href="/GenerarReportes">
                <h6 class="estadisticas">Estadísticas</h6>
            </a>
        </div>
    </div>
    <div class="body"> <!--BODY-->
        <h3 class="titulo">Historial de tus Pokémon</h3>
        <p class="resumen">Historial de tus Pokémon más usados!</p>
        <% if (!datos) { %>
            <div class="alert"> Juega una partida para desbloquear tus estadísticas</div>
            <% } else { %>
        <table class="tabla_body">
            <tr>
                <th>Pokémon</th>
                <th class="th_victorias">Victorias</th>
                <th class="th_derrotas">Derrotas</th>
                <th>Número de veces utilizado</th>
            </tr>
            <% datos.forEach(dato => { %>
            <tr>
                <td>
                    <img class="imagen_Personajes" src="<%= dato.fotoPokemon %>">
                    <%= dato.nombrePokemon %>
                </td>
                <td><%= dato.victorias %></td>
                <td><%= dato.derrotas %></td>
                <td><%= dato.victorias + dato.derrotas %></td>
            </tr>
        <% }) %>
        </table>
        <% } %>
    </div>
    <div class="footer"> <!--FOOTER-->
        <div class="pokemonFight">Pokémon Fight</div>
        <div class="redesSociales">
            <i class="bx bxl-facebook-circle"></i>
            <i class="bx bxl-linkedin-square"></i>
            <i class="bx bxl-youtube"></i>
            <i class="bx bxl-instagram"></i>
        </div>
        <div class="menu_Footer">
            <a href="/">
                <h6 class="paginaPrincipal">Página Principal</h6>
            </a>
            <a href="/LandingPageEquipo">
                <h6 class="sobreNosotros">Sobre Nosotros</h6>
            </a>
            <a href="/GenerarReportes">
                <h6 class="estadisticas">Estadísticas</h6>
            </a>
        </div>
    </div>
</body>

</html>